body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    box-shadow: 2px 2px 10px black;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 2px 2px 10px black;
    border: 1px solid #000000;
    border-radius: 4px;
}

button {
    box-shadow: 2px 2px 10px black;
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.edit {
    background-color: #2196F3;
    box-shadow: 2px 2px 10px black;
}

button.delete {
    background-color: #f44336;
    box-shadow: 2px 2px 10px black;
}

table {

    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    
    box-shadow: 2px 2px 10px black;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}